@font-face {
  font-family: "Felix Titling V2";
  src: url("images/assets/felix-titling.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*cursor: none;*/
}

.cursor {
  width: 16px;
  height: 16px;
  background-color: #bb9339;
  /*border: none;*/
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.5s ease;
  transition: all 10s smooth;
  clip-path: polygon(18% 0%, 82% 0%, 100% 40%, 50% 100%, 0% 38%);
  z-index: 999;
}

header {
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 2vw 0 2vw;
  text-align: center;
  z-index: 998;
  transition: all 0.3s ease;

  & ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    & li {
      height: 100%;
      width: 100%;
      font-size: 16px;
      border-bottom: #bb9339 2px solid;
      place-content: center;
      transition: all 0.3s ease;

      &.homebutton {
        border-bottom: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: #dbdbdb;

    &:hover {
      color: #bb9339;
    }
  }

  & ul li#active a {
    color: #bb9339;
  }
}

#logo {
  height: 60px;
  transition: all 0.3s ease;
}

.scrolled #logo {
  height: 28px;
}

header.scrolled {
  background-color: #dbdbdb;

  & ul li.homebutton {
    border-bottom: #bb9339 2px solid;
  }

  & a {
    color: #333433;

    &:hover {
      color: #bb9339;
    }
  }

  .hamburger {
    top: 0;
    right: 8px;
  }
}

body {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  font-family: "Felix Titling V2";

  & section#landing {
    background-repeat: no-repeat;
    background-color: #333433;
    color: #dbdbdb;
    width: 96vw;
    height: 96vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
}

footer {
  padding: 24px 2vw;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #bb9339;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}

section.footer {
  width: 100vw;
  height: 100%;

  & div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 96vw;
    margin: 0 auto;
    padding: 40px 0 24px 0;
    gap: 24px;

    & div.socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      & span {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & img {
          filter: brightness(0);

          &:hover {
            filter: brightness(5);
          }
        }
      }
    }

    & p {
      font-size: 20px;
    }
  }
}

.landing {
  background-image: url("images/backgrounds/wineglass_background.webp");
  background-size: cover;
  background-position: center;
  padding: 10vh 4vw 0 4vw;

  & h1 {
    font-size: 2.4rem;
    font-weight: normal;
  }

  & p {
    font-size: 1.2rem;
    font-family: "Arial Nova", Arial, sans-serif;

    & a {
      text-decoration: none;
      color: #bb9339;

      &:hover {
        color: #dbdbdb;
      }
    }
  }

  & .socials ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    top: 12vh;

    & li {
      list-style-type: none;

      & img {
        width: 28px;

        &:hover {
          filter: brightness(100);
        }
      }
    }
  }
}

#down {
  color: #333433;
  font-size: 1.5rem;
  position: absolute;
  bottom: 4vh;
  right: 0.5vw;
  animation: animatearrow 2s infinite;
}

@keyframes animatearrow {
  0% {
    bottom: 4vh;
    color: #bb9339;
  }
  25% {
    bottom: 5vh;
    color: #dbdbdb;
  }
  50% {
    bottom: 6vh;
    color: #dbdbdb;
  }
  100% {
    bottom: 4vh;
    color: #bb9339;
  }
}

section.about_home {
  width: 96vw;
  height: 62vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #dbdbdb;
  gap: 2vw;

  & div {
    background-color: #333433;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h3 {
      font-weight: normal;
      font-size: 1.4rem;

      & em {
        font-style: normal;
        font-size: 2rem;
      }
    }

    & p {
      width: 64%;
      font-family: "Arial Nova", Arial, sans-serif;
      font-size: 1.2rem;

      & em {
        font-style: normal;

        & a {
          text-decoration: none;
          color: #bb9339;

          &:hover {
            color: #dbdbdb;
          }
        }
      }
    }
  }

  & #story {
    background-image: url("images/backgrounds/story_background.webp");
  }

  & #about {
    background-image: url("images/backgrounds/about_home.webp");
  }
}

section.collection_home {
  width: 96vw;
  color: #dbdbdb;
  display: flex;
  flex-direction: column;

  & h3 {
    margin: 24px 24px 48px 24px;
    text-align: center;
    font-size: 1.4rem;
    color: #333433;

    & em {
      font-style: normal;
      font-size: 1.8rem;
    }
  }

  & div.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2vw;
    width: 100%;
    height: 96vh;
    transition: all 0.4s ease;

    & span#large {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 24px;
      overflow: hidden;

      & div {
        background-color: #333433;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 24px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: auto 100%;

        & span#image {
          background-position: top;
          background-repeat: no-repeat;
          background-size: 100% auto;
          transition: all 0.4s ease;

          &:hover {
            background-position: center;
            background-size: 110% auto;
          }
        }

        & span#text {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 48px 24px 0;

          & h3 {
            font-size: 1.4rem;
            color: #bb9339;
            text-align: left;
            font-weight: normal;
            padding: 0;
            margin: 0;
          }

          & p {
            font-size: 1.2rem;
            font-family: "Arial Nova", Arial, sans-serif;

            & a {
              text-decoration: none;
              color: #bb9339;

              &:hover {
                color: #dbdbdb;
              }
            }
          }
        }
      }

      & div#noir {
        background-image: url("images/backgrounds/grapes_background.webp");
        background-position: right top;
        transition: all 0.4s ease;

        &:hover {
          & span#image {
            background-size: 103% auto;
          }
        }

        & span#image {
          background-image: url("images/assets/noir_bottle.png");
        }
      }

      & div#balnc {
        background-image: url("images/backgrounds/wineill_background.webp");
        background-position: right bottom;
        transition: all 0.4s ease;

        &:hover {
          & span#image {
            background-size: 103% auto;
          }
        }

        & span#image {
          background-image: url("images/assets/balnc_bottle.png");
        }
      }
    }

    & span#small div {
      background-image: url("images/backgrounds/swartland_homebackground.webp");
      background-size: auto 100%;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-color: #333433;
      width: 100%;
      height: 100%;
      border-radius: 5px;

      & span#text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 48px 24px 0;
        overflow: hidden;

        & h3 {
          font-size: 1.4rem;
          color: #bb9339;
          text-align: left;
          font-weight: normal;
          padding: 0;
          margin: 0;
        }

        & p {
          font-size: 1.2rem;
          font-family: "Arial Nova", Arial, sans-serif;

          & a {
            text-decoration: none;
            color: #bb9339;

            &:hover {
              color: #dbdbdb;
            }
          }
        }
      }
    }
  }
}

h1.gallery {
  margin: 24px 24px 48px 24px;
  text-align: center;
  font-size: 1.8rem;
  color: #333433;
}

.gallery-grid {
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  font-family: "Arial Nova", Arial, sans-serif;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  z-index: 2;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content p {
  width: 80%;
  font-size: 1rem;
  margin: 0 auto 10px;
}

.engagement {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.2rem;
}

.engagement span {
  color: white;
}

section.review {
  padding: 24px;
  width: 96vw;

  & div.review-container {
    width: 70%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &:hover {
      & div.review-card p {
        color: #000;
      }
    }

    & h1 {
      margin: 0 24px 24px 24px;
      padding: 0;
      font-size: 1.8rem;
      color: #333433;
    }

    & div.review-card {
      display: flex;
      flex-direction: row;
      gap: 24px;
      justify-content: center;
      align-items: center;
      transition: all 4s ease;

      & .contentlist {
        & p {
          font-size: 1.2rem;
          font-family: "Arial Nova", Arial, sans-serif;
          text-align: center;
          color: #333433;
          padding-bottom: 24px;
        }
      }

      & span {
        border: solid #bb9339;
        border-width: 0 2px 2px 0;
        width: 24px;
        height: 12px;
        display: block;
        opacity: 0.5;

        &:hover {
          cursor: pointer;
          border: #333433 solid;
          border-width: 0 2px 2px 0;
          opacity: 1;
        }
      }

      & span#arrow-left {
        transform: rotate(135deg);
      }

      & span#arrow-right {
        transform: rotate(-45deg);
      }
    }
  }
}

.contentlist {
  display: none;
  width: 100%;
  padding: 0 24px;
}

#contentlist1 {
  display: flex;
}

/* events page */

.events-landing {
  background-image: url("images/backgrounds/empty-glass_background.webp");
  background-size: auto 100%;
  background-position: left;
  padding: 0 4vw;

  & h1 {
    font-weight: normal;
    color: #bb9339;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  & h3 {
    font-weight: lighter;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }

  & p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "Arial Nova", Arial, sans-serif;
  }

  & .socials {
    display: flex;
    gap: 24px;

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      align-items: baseline;

      & li {
        list-style: none;

        & a {
          text-decoration: none;

          & img {
            height: 32px;

            &:hover {
              filter: brightness(100);
            }
          }
        }
      }
    }
  }
}

/*contact*/

section.contact-landing {
  background-image: url("images/backgrounds/contact_background.webp");
  background-size: cover;
  padding: 0 4vw;

  & div.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    font-family: "Arial Nova", Arial, sans-serif;

    & h2 {
      font-size: 2.4rem;
      font-family: "Felix Titling V2";
      font-weight: normal;
      color: #bb9339;
    }

    & p {
      font-size: 1.4rem;

      & em {
        text-decoration: underline;

        & a {
          color: #dbdbdb;

          &:hover {
            color: #bb9339;
          }
        }
      }
    }

    & .socials {
      & span {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: baseline;
        justify-content: left;

        & img:hover {
          filter: brightness(100);
        }
      }
    }
  }
}

a.whatsapp-button {
  height: 100%;
  align-items: center;
  width: fit-content;
  display: flex;
  transition: all 0.4s ease;

  &:hover {
    & img#icon {
      display: none;
    }

    & img#active {
      display: block;
      filter: none;
    }
  }

  & img {
    width: auto;

    &#active {
      display: none;
    }
  }
}

/* about page */

section.about-landing {
  margin: 0 auto;
  padding: 0;

  & span {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      filter: brightness(50%);
    }

    & div#text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;

      & h3 {
        font-size: 1rem;
        font-family: "Felix Titling V2";
        font-weight: normal;
        color: #dbdbdb;
      }

      & h1 {
        font-size: 2.6rem;
        font-family: "Felix Titling V2";
        font-weight: normal;
        color: #dbdbdb;
      }

      & p {
        font-size: 1.4rem;
        color: #dbdbdb;
        font-family: "Arial Nova", Arial, sans-serif;
      }
    }

    & div#animation {
      height: 100px;
      width: 10px;
      position: absolute;
      top: 66%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      padding-bottom: 0px;
      animation: padding 12s ease infinite;
      display: flex;
      gap: 2px;

      & span {
        width: 2px;
        background-color: #bb9339;
        border-radius: 1px;
        animation: directiondown 12s ease infinite;

        &#side {
          height: 80%;
          filter: opacity(80%);
        }
      }
    }
  }
}

@keyframes padding {
  0% {
    padding-bottom: 100px;
  }
  25% {
    padding-bottom: 00px;
  }
  50% {
    padding-bottom: 100px;
  }
  75% {
    padding-bottom: 100px;
  }
  100% {
    padding-bottom: 100px;
  }
}

@keyframes directiondown {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section.about {
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: auto;
  margin: 0 auto;

  & div.about {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    gap: 24px;
    margin: 0 auto;
    align-items: center;
    text-align: center;

    & h3 {
      color: #333433;
      font-size: 1.8rem;
      font-family: "Felix Titling V2";
      font-weight: normal;
      margin: 24px 0 24px 0;
    }

    & p {
      color: #333433;
      font-size: 1.2rem;
      font-family: "Arial Nova", Arial, sans-serif;
      padding: 0 0 24px 0;
    }
  }
}

section.history,
section.vision,
section.team {
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: auto;
  margin: 0 auto;

  & div#story,
  & div#vision,
  & div#team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 4vw;
    border-radius: 5px;

    & h3 {
      color: #bb9339;
      font-size: 1.8rem;
      font-family: "Felix Titling V2";
      font-weight: normal;
      margin: 0 4vh 24px 4vh;
    }

    & p {
      width: 48%;
      color: #dbdbdb;
      font-size: 1.2rem;
      font-family: "Arial Nova", Arial, sans-serif;
      margin: 0 4vh;
    }
  }
}

section.history div#story {
  background-image: url(images/backgrounds/story_background.webp);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left;
}

section.vision div#vision {
  background-image: url(images/backgrounds/vision_background.webp);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left;
}

/* Wine Page */

section.wine-landing {
  margin: 0 auto;
  padding: 0;

  & span {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      filter: brightness(50%);

      &#vertical {
        display: none;
      }
    }

    & h1 {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.4rem;
      font-family: "Felix Titling V2";
      font-weight: normal;
      color: #dbdbdb;
      animation: h1display 5s;
      animation-delay: h1display 10s;
    }

    & div {
      display: flex;
      flex-direction: row;
      gap: 12px;
      height: 24px;
      position: absolute;
      bottom: 6.4vh;
      right: 4vw;
      color: #dbdbdb;

      & button {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        & #play {
          display: none;
        }

        & #pause {
          display: block;
        }

        & #mute {
          display: none;
        }

        & #unmute {
          display: block;
        }

        & img {
          height: 100%;

          &:hover {
            filter: brightness(500%);
          }

          &:active {
            filter: brightness(100%);
          }
        }
      }
    }
  }
}

@keyframes h1display {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section.swartland {
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: auto;
  margin: 0 auto;
  gap: 24px;
}

div.swartland-info {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;

  & h3 {
    color: #333433;
    font-size: 1.8rem;
    font-family: "Felix Titling V2";
    font-weight: normal;
    margin: 24px 0 24px 0;
  }
  & p {
    color: #333433;
    font-size: 1.2rem;
    font-family: "Arial Nova", Arial, sans-serif;
  }
}

div.carousel {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

div.carousel-container {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: auto;
}

div#item1 {
  display: block;
}

div#item2 {
  display: none;
}

div#item3 {
  display: none;
}

div.carousel-buttons {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: auto;
  position: relative;
  bottom: 50%;
  left: 8px;
  margin: 0;
  padding: 0;

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;

    &:hover {
      & span {
        opacity: 1;
        cursor: pointer;
        border: solid #333433;
        border-width: 0 2px 2px 0;
      }
    }

    & span {
      border: solid #bb9339;
      border-width: 0 2px 2px 0;
      width: 12px;
      height: 12px;
      display: block;
      opacity: 0.5;

      &:active {
        cursor: pointer;
        border: solid #bb9339;
        border-width: 0 2px 2px 0;
      }
    }

    & span#arrow-left {
      transform: rotate(135deg);
    }

    & span#arrow-right {
      transform: rotate(-45deg);
    }
  }
}

button.previous {
  position: relative;
  right: 100%;
}

button.next {
  position: relative;
  left: 100%;
  transform: translate(-200%, 0);
}

section.collection {
  width: 96vw;
  height: auto;
  color: #dbdbdb;

  & div.container {
    width: 100%;
    height: auto;
    transition: all 0.4s ease;

    & span#large {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 24px;
      overflow: hidden;

      & div {
        background-color: #333433;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 24px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;

        & span#image {
          background-position: top;
          background-repeat: no-repeat;
          background-size: 100% auto;
          transition: all 0.4s ease;

          &:hover {
            background-position: center;
            background-size: 110% auto;
          }
        }

        & span#text {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 48px 24px;

          & h3 {
            font-size: 1.8rem;
            color: #bb9339;
            text-align: left;
            font-weight: normal;
            padding: 0;
            margin: 0;
          }

          & p {
            font-size: 1.2rem;
            font-family: "Arial Nova", Arial, sans-serif;

            & a {
              height: 24px;
              width: fit-content;
              display: block;
              text-decoration: none;
              color: #bb9339;

              & em {
                font-family: "Felix Titling V2";
                font-weight: lighter;
                font-style: normal;
                display: flex;

                & span {
                  border: solid #bb9339;
                  border-width: 0 2px 2px 0;
                  transform: rotate(-45deg);
                  width: 12px;
                  height: 12px;
                  display: block;
                  place-self: center;
                  margin-left: 8px;
                }
              }

              &:hover {
                color: #dbdbdb;

                & em span {
                  border-color: #dbdbdb;
                }
              }
            }
          }
        }
      }

      & div#noir {
        background-image: url("images/backgrounds/grapes_background.webp");
        background-position: right top;
        transition: all 0.4s ease;
        border-radius: 5px 5px 0 0;

        &:hover {
          & span#image {
            background-size: 103% auto;
          }
        }

        & span#image {
          background-image: url("images/assets/noir_bottle.png");
        }
      }

      & div#balnc {
        background-image: url("images/backgrounds/wineill_background.webp");
        background-position: right bottom;
        transition: all 0.4s ease;
        border-radius: 0 0 5px 5px;

        &:hover {
          & span#image {
            background-size: 103% auto;
          }
        }

        & span#image {
          background-image: url("images/assets/balnc_bottle.png");
        }
      }
    }
  }
}

/* Hamburger Menu Styles */

.hamburger {
  background-image: url("images/icons/menu.webp");
  background-position: top;
  background-size: cover;
  position: fixed;
  z-index: 998;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  display: none;
  flex-direction: column;
  width: 96vw;
  height: auto;
  margin: 0 auto;
  background-color: #dbdbdb;
  border-bottom: #bb9339 solid 2px;
  justify-content: space-between;
  gap: 12px;
  text-align: center;

  & span {
    width: 96vw;
    height: auto;
    margin: 0 auto;
    padding: 24px;

    &#home a img {
      height: 72px;
    }

    & a {
      font-size: 1.4rem;
      color: #000;
    }
  }
}

@media screen and (max-width: 768px) {
  /* general */

  header {
    text-align: left;
  }

  header ul li.homebutton {
    padding-left: 24px;
  }

  header ul li:not(.homebutton) {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 8vw;
    height: 8vh;
    top: 8px;
    right: 16px;
    margin: 8px 2vw 0 2vw;

    &#active {
      width: 100%;
      height: auto;
      margin: 0 auto;
      top: 0;
      right: 0;
      z-index: 999;

      & div {
        display: flex;
      }
    }
  }

  /* index page */

  section.landing {
    & h1 {
      font-size: 1.8rem;
    }

    & p {
      font-size: 1rem;

      & br {
        display: none;
      }
    }

    & .socials ul li a img {
      width: 24px;
    }
  }

  section.about_home {
    flex-direction: column;
    height: auto;
    gap: 24px;

    & div {
      width: 100%;
      padding: 24px;
      gap: 16px;

      & h3 {
        font-size: 1.2rem;

        & em {
          font-size: 1.6rem;
        }
      }

      & p {
        font-size: 1rem;

        & br {
          display: none;
        }
      }
    }
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  section.review {
    & div.review-container {
      width: 100%;
      gap: 16px;

      & div.review-card .contentlist p {
        font-size: 1rem;
      }
    }
  }

  section.collection_home div.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;

    & span#large div#noir {
      background-size: auto 70%;
    }

    & div#balnc {
      background-size: auto 70%;
    }
  }

  section.collection_home div.container span#large div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;

    & span#text {
      padding: 8px 24px 48px 24px;
    }

    & span#image {
      margin-top: 24px;
      width: 50%;
      height: 45vh;
    }
  }

  section.collection_home div.container span#small div {
    scale: -1 1;

    & span#text {
      padding: 48px 24px;
      scale: -1 1;
    }
  }

  .cursor {
    display: none;
  }

  #down {
    display: none;
  }

  footer {
    & p {
      font-size: 1rem;
    }
  }

  section.footer {
    & div.container {
      & p {
        font-size: 16px;
      }
    }
  }

  /* contacts page */

  section.contact-landing {
    & div.contact {
      text-align: center;
      align-items: center;

      & h2 {
        font-size: 2rem;
      }

      & p {
        font-size: 1.2rem;
      }

      & img {
        height: 24px;
      }
    }
  }

  /* events page */

  section.events-landing {
    align-items: center;
    text-align: center;

    & h1 {
      font-size: 2rem;
    }

    & h3 {
      font-size: 1.2rem;
    }

    & p {
      font-size: 1.2rem;

      & br {
        display: none;
      }
    }

    & div.socials ul {
      gap: 16px;

      & li a img {
        height: 24px;
      }
    }
  }

  /* about page */

  section.about-landing {
    align-items: center;
    text-align: center;

    & span {
      place-content: center;

      & video {
        width: auto;
        margin: 0 auto;
      }

      & div#text {
        gap: 10px;
        top: 45%;

        & h1 {
          font-size: 2rem;
        }

        & p {
          font-size: 1.2rem;
        }
      }

      & div#animation {
        top: 70%;
      }
    }
  }

  section.about div.about {
    width: 80%;
  }

  section.history div#story,
  section.vision div#vision {
    padding: 48px 16px;
    background-size: cover;
    text-align: center;

    & p {
      width: 80%;
    }
  }

  /* wine page */

  section.wine-landing {
    align-items: center;
    text-align: center;

    & span {
      place-content: center;

      & video {
        width: auto;
        margin: 0 auto;

        &#horizontal {
          display: none;
        }

        &#vertical {
          display: block;
          width: 100%;
          height: auto;
          place-content: baseline;
        }
      }

      & h1 {
        font-size: 2rem;
      }
    }
  }

  section.swartland div.swartland-info {
    width: 100%;

    & h3 {
      font-size: 1.4rem;

      & p {
        font-size: 1rem;
      }
    }
  }

  div.carousel {
    width: 100%;

    & div.carousel-container {
      width: 75%;
    }

    & div.carousel-buttons {
      width: 85vw;
    }
  }

  section.collection {
    & div.container {
      & span#large {
        & div#noir {
          background-size: auto 70%;
        }

        & div#balnc {
          background-size: auto 70%;
        }
      }
    }
  }

  section.collection div.container span#large div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;

    & span#text {
      padding: 8px 24px 48px 24px;
    }

    & span#image {
      margin-top: 24px;
      width: 50%;
      height: 45vh;
    }
  }
}
